PORT=
SPRING_PROFILES_ACTIVE=

FIRESTORE_EMULATOR_HOST=
FIRESTORE_PROJECT_ID=

MINIO_URL=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
QR_STORAGE_BUCKET=

ALLOWED_ORIGINS=

FIREBASE_CREDENTIALS=
FIREBASE_CREDENTIALS_PATH=


BACKEND_URL=
