body {
    background: linear-gradient(to bottom right, darkgray, dimgray);
    background-attachment: fixed;
    margin: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.page {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(700px, 80dvw, 900px);
    gap: 20px;
    min-height: 100dvh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header button {
    padding: 16px;
    height: 54px;
    background-color: white;
    color: black;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

header button:hover {
    background-color: lightgray;
}

.account-btns button {
    margin-left: 10px;
}

#qr-form {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#qr-form input {
    padding: 16px;
    flex: 1;
    border-radius: 9999px;
    font-size: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#generate-btn {
    margin-left: 10px;
    width: 80px;
    height: 100%;
    border-radius: 9999px;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#generate-btn:hover {
    background-color: limegreen;
}

#qr-png-download-btn {
    margin-left: 10px;
    width: 80px;
    height: 100%;
    border-radius: 9999px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#qr-png-download-btn:hover {
    background-color: deepskyblue;
}

.button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.qr-box {
    width: clamp(360px, 50dvw, 720px);
    height: clamp(360px, 50dvw, 720px);
    background: white;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#qr-image {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: clamp(300px, 90%, 400px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0
}

.modal-content input {
    padding: 16px;
    font-size: 16px;
    border-radius: 9999px;
}

.modal-content button {
    padding: 16px;
    font-size: 16px;
    border-radius: 9999px;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: limegreen;
}

.close {
    align-self: flex-end;
    font-size: 55px;
    cursor: pointer;
}
