body {
    background: linear-gradient(to bottom right, darkgray, dimgray);
    background-attachment: fixed;
    margin: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(700px, 80dvw, 900px);
    gap: 20px;
    min-height: 100dvh;
}

header {
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header button {
    padding: 16px;
    height: 54px;
    background-color: white;
    color: black;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

header button:hover {
    background-color: lightgray;
}

.account-btns button {
    margin-left: 10px;
}

#qr-form {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#qr-form input {
    padding: 16px;
    flex: 1;
    outline: none;
    border-radius: 9999px;
    font-size: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#qr-form button {
    margin-left: 10px;
    width: 80px;
    height: 100%;
    border-radius: 9999px;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#qr-form button:hover {
    background-color: limegreen;
}

.qr-box {
    width: clamp(360px, 50dvw, 720px);
    height: auto;
    background: white;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#qr-image {
    width: 100%;
    height: auto;
}

.spacer {
    width: 100dvw;
    height: 20px;
}